<div class="card card-custom card-stretch gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Activity</span>
        </h3>
    </div>
    <div class="card-body pt-4">
        <div class="timeline timeline-6 mt-3">

            <ng-container *ngIf="activities$ | async as activities">
                <div class="timeline-item align-items-start" *ngFor="let activity of activities">
                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg" style="width: 60px;">{{activity.date | date:'d MMM\nhh:mm'}}</div>

                    <div class="timeline-badge">
                        <i class="fa fa-genderless text-success icon-xl" *ngIf="activity.activity === 'win'"></i>
                        <i class="fa fa-genderless text-danger icon-xl" *ngIf="activity.activity === 'loss'"></i>
                        <i class="fa fa-genderless text-warning icon-xl" *ngIf="activity.activity === 'draw'"></i>
                    </div>

                    <div class="timeline-content d-flex">
                        <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg" *ngIf="activity.activity === 'win'">game won with {{activity.killsDiff}} kills</span>
                        <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg" *ngIf="activity.activity === 'loss'">game lost</span>
                        <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg" *ngIf="activity.activity === 'draw'">game draw</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
