<ng-container *ngIf="!hasParams">
    <a href="http://tfe.tools/auth/steam">
        <img src="https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_02.png">
    </a>
</ng-container>

<ng-container *ngIf="hasParams">
    <div class="row pb-5">
        <div class="col-lg-12">
            <app-intro class="col-lg-12" [id$]="id$" (pageSelect)="selectedPage = $event"></app-intro>
            <!--(userToCompareSelected)="userToCompareSelected($event)"-->
        </div>
    </div>
    <app-individual-stats [id$]="id$" *ngIf="selectedPage === 'stats'"></app-individual-stats>
    <app-individual-history [id$]="id$" *ngIf="selectedPage === 'charts'"></app-individual-history>
</ng-container>
