<div ngbDropdown>
  <div class="topbar-item" ngbDropdownToggle>
    <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" (click)="open('discord')">
      <span class="socicon-discord icon-lg icon-middle"></span>
    </div>
  </div>
</div>

<div ngbDropdown>
  <div class="topbar-item" ngbDropdownToggle>
    <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" (click)="open('youtube')">
      <span class="socicon-youtube icon-lg icon-middle"></span>
    </div>
  </div>
</div>

<div ngbDropdown>
  <div class="topbar-item" ngbDropdownToggle>
    <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" (click)="open('twitch')">
      <span class="socicon-twitch icon-lg icon-middle"></span>
    </div>
  </div>
</div>

<div ngbDropdown>
  <div class="topbar-item" ngbDropdownToggle>
    <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" (click)="open('steam')">
      <span class="socicon-steam icon-lg icon-middle"></span>
    </div>
  </div>
</div>

<div ngbDropdown>
  <div class="topbar-item" ngbDropdownToggle>
    <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" (click)="open('facebook')">
      <span class="socicon-facebook icon-lg icon-middle"></span>
    </div>
  </div>
</div>
