<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/lobbies" routerLinkActive="active">
      <span class="menu-text">Lobbies</span>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/stats/top100" routerLinkActive="active">
      <span class="menu-text">Stats</span>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/week-top" routerLinkActive="active">
      <span class="menu-text">Weekly Top</span>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" href="https://www.taskforceelite.com/" routerLinkActive="active">
      <span class="menu-text">Forum</span>
    </a>
  </li>
</ul>
