.filterable-header:hover .svg-filter-icon:not(.filter-icon-active) {
    opacity: .5;
}

.filter-icon-active {
    opacity: 1;
}

.filter-icon-inactive {
    opacity: 0;
}

.filterable-header:hover {
    cursor: pointer;
}

.filterable-header {
    user-select: none;
}

.clickable-user:hover {
    background-color: rgba(0, 0, 0, .2) !important;
    cursor: pointer;
}

.column-header-right {
    text-align: right;
}


.alternate-color:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1);
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
}

td {
    border-style: solid none;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: .42rem;
    border-bottom-left-radius: .42rem;

}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: .42rem;
    border-top-right-radius: .42rem;
}

.dropdown-menu {
    background-color: #546B5F;
}

.green-tooltip .tooltip-inner {
    background-color: #546B5F;
}

.green-tooltip .arrow::before {
    border-left-color: #546B5F;
}
