<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">Top 100 players</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">The best rated players in Task Force Elite</span>
    </h3>
    <div class="card-toolbar">
      <div ngbDropdown placement="bottom-right" class="dropdown dropdown-inline" title="Quick actions">
        <a ngbDropdownToggle class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ki ki-bold-more-hor"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-md dropdown-menu-right">
          <app-tfe-tables-top100-dropdown-menu [columns]="columns"></app-tfe-tables-top100-dropdown-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-3 pb-0 tfe-card">
    <div class="table-responsive">
      <table class="table table-head-custom table-vertical-center table-borderless">
        <thead>
          <tr>
            <th style="width: 30px; max-width: 30px; overflow: hidden;"></th>
            <ng-container *ngFor="let column of columns">
              <th [ngClass]="(column.textRight ? 'column-header-right' : '') + ' ' + (column.notSortable ? '' : 'filterable-header')" *ngIf="column.checked" (click)="!column.notSortable && headerClicked(column.columnName)">
                <span [inlineSVG]="getSvg()" cacheSVG="true" [ngClass]="setIconClasses(column.columnName)"></span>
                <span [ngClass]="setHeaderTextClasses(column.columnName)">{{column.text}}</span>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stats of sortedTop100Stats$ | async" (click)="loadIndividualUser(stats._id)" class="alternate-color clickable-user">
            <td style="width: 30px; max-width: 30px; overflow: hidden;">
              <i class="ki" [ngClass]="setRankUpdateClass(stats)" placement="left" [disableTooltip]="stats.currentRank - stats.previousRank === 0" [ngbTooltip]="stats.previousRank + ' -> ' + stats.currentRank" [openDelay]="300" [closeDelay]="500" tooltipClass="green-tooltip"></i>
            </td>
            <ng-container *ngFor="let column of columns">
              <td [ngClass]="column.textRight ? 'text-right' : ''" *ngIf="column.checked">
                <p *ngIf="!column.isLabel" class="text-dark-75 font-weight-bolder mb-1 font-size-lg">{{stats[column.columnName]}}</p>
                <span *ngIf="column.isLabel" class="label label-lg label-inline" [ngClass]="stats[column.columnName] < column.dangerThreshold ? 'label-danger' : 'label-success'">{{stats[column.columnName] | number: '1.2-2'}}</span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

