<div class="card card-custom" [ngClass]="cssClass">
  <!-- Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">Lobbies</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">
        There are currently {{totalAmountOfPlayers$ | async}} players online
      </span>
    </h3>
  </div>
  <!-- Body -->
  <div class="card-body pt-2 pb-0 mt-n3">
    <div class="tab-content mt-5">
      <div
        class="tab-pane fade active show"
        id="kt_tab_pane_6_1"
        role="tabpanel"
        aria-labelledby="kt_tab_pane_6_1"
      >
        <div class="table-responsive">
          <table class="table table-borderless table-vertical-center">
            <thead>
              <tr>
                <th class="p-0 w-50px"></th>
                <th class="p-0 min-w-200px"></th>
                <th class="p-0 min-w-150px"></th>
                <th class="p-0 min-w-150px"></th>
                <th class="p-0 min-w-40px"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let lobby of lobbies$ | async; index as i">
                <div style="height: 10px;"></div>
                <tr [ngClass]="(i % 2 === 0 ? 'alternate-color' : '') + ' ' + (i === selectedLobbyIndex ? 'selected-lobby' : '')" class="clickable-lobby standard-row" (click)="openInfo(i);">
                  <td>
                    <img width="50px;" [src]="lobby.countryFlag"/>
                  </td>
                  <td>
                    <a href="#" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{lobby.roomName}}</a>
                  </td>
                  <td>
                    <span class="font-weight-bold">{{lobby.map}}</span><br>
                    <span class="">{{lobby.gameModeString}}</span>
                  </td>
                  <td>
                    <div class="d-flex flex-column w-100 mr-2">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="text-muted mr-2 font-size-sm font-weight-bold">{{lobby.totalAmountOfPlayers}} / {{lobby.maxPlayer}}</span>
                        <span class="text-muted font-size-sm font-weight-bold">Players</span>
                      </div>
                      <div class="progress progress-xs w-100">
                        <div
                                class="progress-bar"
                                [ngClass]="'bg-' + (lobby.percentageFilled <= 50 ? 'success' : lobby.percentageFilled <= 80 ? 'warning' : 'danger')"
                                role="progressbar"
                                [ngStyle]="{width: lobby.percentageFilled + '%'}"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <a [href]="lobby.steamStartUrl" class="btn btn-icon btn-light btn-sm alternate-button-color">
                      <span [inlineSVG]="'./assets/media/svg/icons/Devices/Gamepad2.svg'" class="svg-icon svg-icon-md svg-icon-dark-25"></span>
                    </a>
                  </td>
                </tr>
                <tr *ngIf="i === selectedLobbyIndex" [ngClass]="i === selectedLobbyIndex ? 'selected-lobby' : ''" class="extra-lobby-info-row">
                  <td colspan="5">
                    <!-- Map Rotation -->
                    <div class="row mb-5">
                      <div class="col-lg-12">
                        <h2 style="text-align: center">Map Rotation</h2>
                        <p style="margin-left: 50px; margin-right: 50px;">{{lobby.mapRotation.join(', ')}}</p>
                      </div>
                    </div>
                    <!-- Players -->
                    <div class="row" *ngIf="lobby.totalAmountOfPlayers > 0">
                      <!-- Title -->
                      <div class="col-lg-12">
                        <h2 style="text-align: center">Players</h2>
                      </div>
                      <!-- Blue Team -->
                      <div class="col-lg-6" style="text-align: center;">
                        <h2>Task Force Elite</h2>
                        <div *ngFor="let player of lobby.blueTeam">
                          <a [href]="'http://localhost:4200/stats/individual;id=' + player.pid" class="text-hover-primary mb-1">
                            {{player.displayName}}
                          </a>
                        </div>
                      </div>
                      <!-- Red Team -->
                      <div class="col-lg-6" style="text-align: center;">
                        <h2>Red Spear</h2>
                        <div *ngFor="let player of lobby.redTeam">
                          <a [href]="'http://localhost:4200/stats/individual;id=' + player.pid" class="text-hover-primary mb-1">
                            {{player.displayName}}
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
