/*.alternate-color:nth-child(odd) {
    background-color: rgba(0,0,0,.1) !important;
}*/

.alternate-color {
    background-color: rgba(0, 0, 0, .1);
}

.alternate-button-color {
    background-color: rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, 0);
}

.alternate-color .alternate-button-color {
    background-color: rgb(52, 66, 59);
    border-color: rgba(0, 0, 0, 0);
}

td {
    border-style: solid none;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr.standard-row td:first-child {
    border-top-left-radius: .42rem;
    border-bottom-left-radius: .42rem;
}

tr.standard-row td:last-child {
    border-top-right-radius: .42rem;
    border-bottom-right-radius: .42rem;
}

tr.extra-lobby-info-row td:first-child {
    border-bottom-left-radius: .42rem;
}

tr.extra-lobby-info-row td:last-child {
    border-bottom-right-radius: .42rem;
}

tr.selected-lobby.standard-row td:first-child {
    border-bottom-left-radius: 0;
}

tr.selected-lobby.standard-row td:last-child {
    border-bottom-right-radius: 0;
}

tr.selected-lobby.extra-lobby-info-row td:first-child {
    border-top-left-radius: 0;
}

tr.selected-lobby.extra-lobby-info-row td:last-child {
    border-top-right-radius: 0;
}

tr.selected-lobby td {
    padding-bottom: 25px; /* Has to change or the border-radius won't update.. */
}

.clickable-lobby:hover {
    background-color: rgba(0, 0, 0, .2) !important;
    cursor: pointer;
}

.selected-lobby {
    background-color: rgba(0, 0, 0, .2) !important;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(52, 66, 59);
}

::-webkit-scrollbar-thumb {
    background: #546B5F;
}

.text-outline {
    color: #68FF04 !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2em;
}
